body {
  background-color: #E1F5FE;
}
header {
  background-color: #1E88E5;
  text-align: center;
}
nav {
  background-color: #1E88E5;
  display: block;
  text-align: center;
}
section {}
.container {
  margin: 0 auto;
}
#first {
  background-color: #42A5F5;
}
#tete {
  background-color: #64B5F6;
}
#structure {
  background-color: #90CAF9;
}
#liste {
  background-color: #BBDEFB;
}
#sectionne {
  background-color: #E3F2FD;
}
code {
  background-color: white;
  border-radius: 3px;
}
i {
  border: 0 solid lightgray;
  border-radius: 2px;
  font-size: 3em;
  color: black;
  background-color: #E0E0E0;
  padding: 1% 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  float: right;
}
