body {
  background-color: #E1F5FE;
}
header {
  background-color: #1E88E5;
  text-align: center;
}
nav {
  background-color: #1E88E5;
  display: block;
  text-align: center;
}
section {}
.container {
  margin: 0 auto;
}
p{
  font-size: 1.2em;
}
.button{
  font-size: 1.3em;
}
#first {
  background-color: #42A5F5;
}
#tete {
  background-color: #64B5F6;
}
#structure {
  background-color: #90CAF9;
}
#liste {
  background-color: #BBDEFB;
}
#sectionne {
  background-color: #E3F2FD;
}
code {
  background-color: white;
  border-radius: 3px;
}
i {
  border: 0 solid lightgray;
  border-radius: 2px;
  color: black;
  background-color: #E0E0E0;
  padding: 1% 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  float: right;
}
footer {
  text-align: right;
}

/**========================mobile============================**/
@media screen and (max-width: 800px) {
  .bloc {
    display:block;
    clear:both;
  }
  .button{
    font-size: 1.5em;
  }
  body{
    font-size: 1.5em;
  }
  footer{
    font-size : 1.2em;
  }
}
